@{
    ViewData["Title"] = "Home Page";
}

  <h3 class="page-header">
    <p>Loan Calc is an amortization loan payment calculator</p>
    <p>that estimates loan repayment and other information.</p>
  </h3>
  <div align="center">
    <form action="#" method = "post">
      <img href="~/img/big_logo.png">
      <p class="button">
          <a href="/calc" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Go To Loan Calc!</a>
      </p>
    </form>
  </div>  
