
@{
    ViewData["Title"] = "Home Page";
}

<h3 class="page-header text-center pt-2">
    <span>Loan Calc is an amortization loan payment calculator</span>
    <span>that estimates loan repayment and other information.</span>
</h3>
<div align="center">
     <a class="btn btn-danger btn-lg my-5" asp-area="" asp-controller="Home" asp-action="LoanCalc">Go To Loan Calc!</a>
     <br />
    <img src="~/img/big_logo.png" class="mb-5">
</div>
